!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            link_to 'New article', new_article_path
        #navbar.collapse.navbar-collapse
          %ul.nav.nav-pills.pull-right
            - if user_signed_in?
              %a.navbar-brand
                link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %a.navbar-brand
                link_to "Sign up",new_user_registration_path
              %a.navbar-brand
                link_to "Sign In",new_user_session_path
        / /.nav-collapse
    %p
    %p.notice= notice
    %p.alert= alert
    = yield
